.card-custom {
    background: linear-gradient(135deg, #f5f5f5, #dddddd);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  .button-custom {
    background-color: #22223c;
    color: #dddddd;
    width: 4.6em;
    height: 2.4em;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .button-custom:hover {
    background-color: #0d0d1a;
    color: #ffffff;
  }
  

  /* For the table */
/* For table headers */
.table thead th {
    background: linear-gradient(to bottom, #252535, #232343); /* Gradient background */
    color: #dddddd; /* Text color */
  }